<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Our Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>Available Sizes: {{ product.available_sizes }}</p>
                <p>Quantity: {{ product.quantity }}</p>
            </li>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </ul>
    <h1>Categories</h1>
<ul>
    {% for category in categories %}
        <li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>